@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary500: #fac720;
  --primary700: #fb9030;
  --accent500: #208be1;
  --accent700: #1b4ab7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  color: var(--text-body) !important;
  margin: 0;
  padding: 0;
}
